tests/data/** filter=lfs diff=lfs merge=lfs -text
example/strains/A1R12.xml filter=lfs diff=lfs merge=lfs -text
example/strains/I2R16.xml filter=lfs diff=lfs merge=lfs -text
example/strains/I3M07.xml filter=lfs diff=lfs merge=lfs -text
